### IDE ###
.vscode/

### APPLICATION ###
app/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
app/src/main/resources/static
!app/src/main/resources/static/.gitkeep

### VITE ###
client/.env
client/node_modules

### RELEASE ###
release/*.jar
release/*.json
